html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #211f20;
  overflow-x: hidden;
}

form input,
form textarea {
  border-radius: 8px;
  border: 1px solid #a9aeb0;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #a9aeb0;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  margin-top: 2px;
}

.form-group {
  margin-bottom: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-bottom: unset;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

.fs-18 {
  font-size: 18px;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-13 {
  font-style: 13px;
}

.textYellow {
  color: #fec719;
}

.fw-900 {
  font-weight: 900;
}

.fw-500 {
  font-weight: 500;
}

.section-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.content-container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.tbPadding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pb-270 {
  padding-bottom: 270px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-150 {
  margin-bottom: 150px;
}

.gap-13 {
  gap: 13px;
}

.h-51 {
  height: 51px;
}

.h-48 {
  height: 48px;
}

.top-74 {
  top: 74px;
}

.btnYellow1 {
  background-color: #fec719;
  font-size: 18px;
  color: #211f20;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px 30px;
  transition: all 0.2s;
}
.btnYellow1:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fede78;
}

.btnContact {
  background-color: #fec719;
  font-size: 18px;
  color: #211f20;
  font-weight: 700;
  border-radius: 8px;
  padding: 18px 40px;
  transition: all 0.2s;
}
.btnContact:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fede78;
}
.btnContact:hover {
  color: #211f20;
}

.tagTitle {
  background-color: #fec719;
  font-size: 18px;
  color: #562e00;
  font-weight: 900;
  border-radius: 30px;
  padding: 12px 0px;
  transition: all 0.2s;
  width: 100%;
  text-align: center;
}
.tagTitle:hover {
  box-shadow: none;
  background-color: none;
}

.w-max-content {
  width: -moz-max-content;
  width: max-content;
}

.transform-x-middle {
  transform: translateX(-50%);
}

ul {
  padding-inline-start: unset;
}

.z-10 {
  z-index: 10;
}

.list-description .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.list-description .content {
  padding-left: 38px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.968627451);
  z-index: 20;
  padding: 10px 0px;
  width: 100%;
}
@media (max-width: 767.98px) {
  header .hotline {
    display: none;
  }
}
#deviSmart {
  background: #fff;
  border-bottom-right-radius: 250px 250px;
  border-bottom-left-radius: 250px 250px;
  transform: translateY(240px);
  margin-top: -240px;
}
#deviSmart .scrollDown {
  transform: translateY(30px);
}
#deviSmart .text {
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  #deviSmart {
    border-bottom-right-radius: 300px 200px;
    border-bottom-left-radius: 300px 200px;
  }
}
@media (max-width: 991.98px) {
  #deviSmart {
    border-bottom-right-radius: 200px 150px;
    border-bottom-left-radius: 200px 150px;
  }
  #deviSmart .tbPadding {
    padding-bottom: 30px;
  }
  #deviSmart .text {
    text-align: center;
  }
  #deviSmart p {
    justify-content: center;
  }
  #deviSmart h1 {
    font-size: 6vw;
  }
  #deviSmart .imgRight {
    margin-top: 30px;
  }
  #deviSmart .imgRight img {
    max-width: 600px !important;
  }
}
@media (max-width: 767.98px) {
  #deviSmart {
    border-bottom-right-radius: 20% 8%;
    border-bottom-left-radius: 20% 8%;
  }
  #deviSmart h1,
  #deviSmart h3 {
    font-size: 5.8vw;
    text-wrap: nowrap;
  }
}
@media (max-width: 575.98px) {
  #deviSmart {
    border-bottom-right-radius: 15% 6%;
    border-bottom-left-radius: 15% 6%;
  }
  #deviSmart h1 {
    font-size: 45px;
    text-wrap: unset;
  }
}
@media (max-width: 430.98px) {
  #deviSmart h1 {
    font-size: 2rem;
    text-wrap: nowrap;
  }
}

#problems {
  background-color: #14313f;
  padding-top: 240px;
  padding-bottom: 240px;
}
#problems .content {
  width: 500px;
  float: right;
}
#problems ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
#problems ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}
#problems .ball {
  right: -250px;
  bottom: -400px;
}
@media (max-width: 1199.98px) {
  #problems .row {
    --bs-gutter-x: 35px;
  }
  #problems .content {
    width: unset;
    float: unset;
  }
  #problems ul {
    text-align: justify;
  }
}
@media (max-width: 991.98px) {
  #problems .img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  #problems .img img {
    max-width: 500px;
  }
  #problems h2 {
    text-align: center;
  }
  #problems .grid {
    top: 50% !important;
  }
}
@media (max-width: 767.98px) {
  #problems li img {
    width: 30px;
  }
  #problems li p {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  #problems li img {
    width: 20px;
  }
  #problems .grid {
    top: 60% !important;
    transform: translateY(-50%);
  }
}
@media (max-width: 430.98px) {
  #problems .grid {
    top: 45% !important;
    transform: translateY(-50%);
  }
}

#solution {
  background: #fff;
  border-top-right-radius: 250px 250px;
  border-top-left-radius: 250px 250px;
  transform: translateY(-240px);
  margin-bottom: -240px;
}
#solution .row {
  --bs-gutter-x: 70px;
}
#solution ul {
  padding-left: 15px;
}
@media (max-width: 1199.98px) {
  #solution {
    border-top-right-radius: 300px 200px;
    border-top-left-radius: 300px 200px;
  }
  #solution h2 {
    margin-bottom: 10px;
  }
  #solution .row {
    --bs-gutter-x: 35px;
  }
}
@media (max-width: 991.98px) {
  #solution {
    border-top-right-radius: 200px 150px;
    border-top-left-radius: 200px 150px;
  }
  #solution img {
    max-width: 400px;
  }
}
@media (max-width: 767.98px) {
  #solution {
    border-top-right-radius: 20% 8%;
    border-top-left-radius: 20% 8%;
  }
  #solution h2 {
    text-wrap: nowrap;
  }
  #solution p,
  #solution ul {
    text-align: justify;
  }
  #solution .tagTitle {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  #solution {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #solution h2 {
    text-wrap: unset;
    margin-bottom: 0;
  }
}
#definition {
  background-color: #f9f9f9;
}
#definition .row {
  --bs-gutter-x: 100px;
}
#definition .tbPadding {
  padding-top: 178px;
}
#definition .tagImg {
  transform: translate(-50%, -32px);
}
#definition .ball {
  top: -180px;
  left: -260px;
}
#definition ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
#definition ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
#definition p {
  padding-right: 5%;
}
#definition .gridBg {
  top: -67px;
  right: 160px;
  transform: translate(-50%);
}
@media (max-width: 1199.98px) {
  #definition {
    text-align: justify;
  }
  #definition .row {
    --bs-gutter-x: 35px;
  }
  #definition p {
    padding-right: 0;
  }
}
@media (max-width: 991.98px) {
  #definition .gridBg {
    right: -26%;
  }
  #definition .tbPadding {
    padding-top: 150px;
  }
  #definition h2 {
    text-wrap: nowrap;
  }
}
@media (max-width: 767.98px) {
  #definition h2 {
    text-wrap: unset;
    text-align: center;
  }
  #definition .tbPadding {
    padding-top: 120px;
  }
  #definition .gridBg {
    display: none;
  }
}
@media (max-width: 575.98px) {
  #definition .tagImg {
    z-index: 10;
    transform: translate(-50%, -28px);
  }
  #definition .tagImg img {
    width: 500px;
  }
  #definition ul li img {
    width: 20px;
  }
}
@media (max-width: 460.98px) {
  #definition .tagImg img {
    width: 350px;
  }
  #definition .tbPadding {
    padding-top: 80px;
  }
}

#benefits {
  background-color: #14313f;
}
#benefits .row {
  --bs-gutter-x: 70px;
}
#benefits ul {
  padding-left: 17px;
}
@media (max-width: 1199.98px) {
  #benefits .row {
    --bs-gutter-x: 35px;
  }
  #benefits ul {
    text-align: justify;
  }
  #benefits p {
    text-align: justify;
  }
  #benefits p.tagTitle {
    text-align: center;
  }
}
#functions {
  background-color: #f9f9f9;
}
#functions .ball {
  transform: translate(-50%, -120px);
}
@media (max-width: 991.98px) {
  #functions h2 {
    position: relative;
    z-index: 10;
  }
  #functions .list-description {
    text-align: justify;
  }
}
@media (max-width: 575.98px) {
  #functions h2 {
    margin-bottom: 30px;
  }
  #functions .title img {
    width: 20px;
  }
  #functions .list-description .content {
    padding-left: 28px;
  }
}
@media (max-width: 430.98px) {
  #functions h2 {
    margin-left: -15px;
    margin-right: -15px;
  }
}

#videoIntro {
  background-color: #f9f9f9;
  padding-bottom: 320px;
}
#videoIntro .videoFrame {
  border: 10px solid #14313f;
  border-radius: 16px;
  overflow: hidden;
}
#videoIntro .videoFrame video {
  width: 970px;
}
@media (max-width: 1199.98px) {
  #videoIntro .videoFrame video {
    width: 780px;
  }
}
@media (max-width: 991.98px) {
  #videoIntro .videoFrame video {
    width: 560px;
  }
}
@media (max-width: 767.98px) {
  #videoIntro .videoFrame video {
    width: 75vw;
  }
}
#differents {
  background: #fff;
  border-top-right-radius: 250px 250px;
  border-top-left-radius: 250px 250px;
  transform: translateY(-200px);
  margin-bottom: -200px;
}
#differents .list-description .title {
  align-items: center;
}
#differents .list-description:nth-child(2) .content {
  padding-left: 53px;
}
#differents .scrollDown {
  transform: translate(-50%);
}
#differents .polygon {
  transform: translate(-50%);
}
@media (max-width: 1199.98px) {
  #differents {
    border-top-right-radius: 300px 200px;
    border-top-left-radius: 300px 200px;
  }
}
@media (max-width: 991.98px) {
  #differents {
    border-top-right-radius: 200px 150px;
    border-top-left-radius: 200px 150px;
  }
  #differents .list-description {
    text-align: justify;
  }
}
@media (max-width: 767.98px) {
  #differents {
    border-top-right-radius: 20% 8%;
    border-top-left-radius: 20% 8%;
  }
}
@media (max-width: 575.98px) {
  #differents {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #differents h2 {
    margin-bottom: 30px;
  }
  #differents .list-description .content {
    padding-left: 28px;
    margin-bottom: 10px;
  }
  #differents .list-description:last-child {
    margin-bottom: 50px;
  }
  #differents .title img {
    width: 20px;
  }
}
#carouselBanner {
  background-color: #f9f9f9;
}
#carouselBanner .tbPadding {
  padding-top: 150px;
}
#carouselBanner .carousel {
  z-index: 10;
}
#carouselBanner .carousel img {
  opacity: 0.5;
}
#carouselBanner .slick-center img {
  opacity: 1;
}
#carouselBanner .ball {
  bottom: 120px;
  right: 300px;
}
@media (max-width: 1399.98px) {
  #carouselBanner .carousel img {
    width: 90%;
  }
  #carouselBanner .contactButton {
    position: inherit;
    z-index: 10;
  }
}
@media (max-width: 767.98px) {
  #carouselBanner .tbPadding {
    padding-top: 100px;
  }
}
#feedbacks {
  background-image: url("/asset/img/feedbackBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#feedbacks .feedbackCarousel {
  margin-left: -30px;
  margin-right: -30px;
  z-index: 10;
}
#feedbacks .feedbackCarousel .item {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767.98px) {
  #feedbacks .avatar img {
    width: 150px;
  }
}
@media (max-width: 430.98px) {
  #feedbacks h2 {
    margin-left: -10px;
    margin-right: -10px;
  }
}

#contactForm ul {
  list-style: none;
}
#contactForm ul li {
  display: flex;
  gap: 9px;
}
#contactForm ul li a:hover {
  color: #fec719;
}
#contactForm .sendIcon {
  right: -57px;
  top: 87px;
}
#contactForm .rightSideForm {
  width: 570px;
}
#contactForm .sendContact {
  width: 200px;
  text-align: center;
}
@media (max-width: 1199.98px) {
  #contactForm .d-flex {
    gap: 50px;
  }
  #contactForm .leftSideText {
    text-wrap: nowrap;
  }
}
@media (max-width: 991.98px) {
  #contactForm .mb-130 {
    margin-bottom: 0;
  }
  #contactForm .d-flex {
    gap: 0px;
  }
  #contactForm .rightSideForm {
    width: 700px;
  }
}
@media (max-width: 767.98px) {
  #contactForm .rightSideForm {
    width: 100%;
  }
}
@media (max-width: 430.98px) {
  #contactForm ul li {
    align-items: baseline;
    margin-bottom: 5px;
  }
}

#contactFormSticky {
  width: -moz-max-content;
  width: max-content;
  left: unset;
  right: 25px;
  bottom: 25px;
  text-align: center;
}
@media (max-width: 767.98px) {
  #contactFormSticky {
    width: 50%;
    right: 0px;
    bottom: 0px;
    border-radius: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  #contactFormSticky .hotline {
    display: none;
  }
}
@media (max-width: 430.98px) {
  #contactFormSticky {
    padding-right: 7px;
    padding-left: 7px;
  }
}

#stickyPhone {
  left: 0px;
  bottom: 0px;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  border-radius: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 767.98px) {
  #stickyPhone .hotline {
    display: none;
  }
}
@media (max-width: 430.98px) {
  #stickyPhone {
    padding-right: 7px;
    padding-left: 7px;
  }
}

@media (max-width: 1399.98px) {
  .content-container {
    max-width: 1100px;
  }
}
@media (max-width: 1199.98px) {
  .content-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 991.98px) {
  .tbPadding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  h2.mb-50,
  h3.mb-50 {
    margin-bottom: 30px;
  }
}
@media (max-width: 430.98px) {
  h2 {
    font-size: 30px;
  }
}/*# sourceMappingURL=global.css.map */