@mixin btnYellow(
  $font-size,
  $color,
  $font-weight,
  $border-radius,
  $py,
  $px,
  $box,
  $bg
) {
  background-color: $yellowColor;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
  border-radius: $border-radius;
  padding: $py $px;
  transition: all 0.2s;
  &:hover {
    box-shadow: $box;
    background-color: $bg;
  }
}
