@import "variable";
@import "mixin";
html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $blackColor1;
  overflow-x: hidden;
}

// form
form {
  input,
  textarea {
    border-radius: 8px;
    border: 1px solid #a9aeb0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
  }
}
.form-control {
  border-radius: 8px;
  border: 1px solid #a9aeb0;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  margin-top: 2px;
}
.form-group {
  margin-bottom: 20px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// a tag
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

// p tag
p {
  margin-bottom: unset;
}

// font size
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
.fs-18 {
  font-size: 18px;
}
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-13 {
  font-style: 13px;
}

// text
.textYellow {
  color: $yellowColor;
}

// font weight
.fw-900 {
  font-weight: 900;
}
.fw-500 {
  font-weight: 500;
}

// container
.section-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

// padding
.content-container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.tbPadding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.pb-270 {
  padding-bottom: 270px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-60 {
  padding-bottom: 60px;
}

// margin
.mt-32 {
  margin-top: 32px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-13 {
  margin-bottom: 13px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-130 {
  margin-bottom: 130px;
}
.mb-150 {
  margin-bottom: 150px;
}
// gap
.gap-13 {
  gap: 13px;
}
// height
.h-51 {
  height: 51px;
}
.h-48 {
  height: 48px;
}
// position
.top-74 {
  top: 74px;
}

// button
.btnYellow1 {
  @include btnYellow(
    18px,
    #211f20,
    500,
    8px,
    16px,
    30px,
    rgba(0, 0, 0, 0.1) 0px 4px 12px,
    #fede78
  );
}
.btnContact {
  @include btnYellow(
    18px,
    #211f20,
    700,
    8px,
    18px,
    40px,
    rgba(0, 0, 0, 0.1) 0px 4px 12px,
    #fede78
  );
  &:hover {
    color: #211f20;
  }
}
.tagTitle {
  @include btnYellow(18px, #562e00, 900, 30px, 12px, 0px, none, none);
  width: 100%;
  text-align: center;
}

// width
.w-max-content {
  width: max-content;
}

// transform
.transform-x-middle {
  transform: translateX(-50%);
}

// list
ul {
  padding-inline-start: unset;
}

// z-index
.z-10 {
  z-index: 10;
}
// others
.list-description {
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
    align-items: baseline;
  }
  .content {
    padding-left: 38px;
  }
}

//SECTIONS
header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fffffff7;
  z-index: 20;
  padding: 10px 0px;
  width: 100%;
  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .hotline {
      display: none;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
  }
}
// devi smart
#deviSmart {
  background: #fff;
  border-bottom-right-radius: 250px 250px;
  border-bottom-left-radius: 250px 250px;
  transform: translateY(240px);
  margin-top: -240px;
  .scrollDown {
    transform: translateY(30px);
  }
  .text {
    flex-shrink: 0;
  }
  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    border-bottom-right-radius: 300px 200px;
    border-bottom-left-radius: 300px 200px;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    border-bottom-right-radius: 200px 150px;
    border-bottom-left-radius: 200px 150px;
    .tbPadding {
      padding-bottom: 30px;
    }
    .text {
      text-align: center;
    }
    p {
      justify-content: center;
    }
    h1 {
      font-size: 6vw;
    }
    .imgRight {
      margin-top: 30px;
      img {
        max-width: 600px !important;
      }
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    border-bottom-right-radius: 20% 8%;
    border-bottom-left-radius: 20% 8%;
    h1,
    h3 {
      font-size: 5.8vw;
      text-wrap: nowrap;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    border-bottom-right-radius: 15% 6%;
    border-bottom-left-radius: 15% 6%;
    h1 {
      font-size: 45px;
      text-wrap: unset;
    }
  }

  @media (max-width: 430.98px) {
    h1 {
      font-size: 2rem;
      text-wrap: nowrap;
    }
  }
}

// problems
#problems {
  background-color: $blackColor2;
  padding-top: 240px;
  padding-bottom: 240px;
  .content {
    width: 500px;
    float: right;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 21px;
    li {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  .ball {
    right: -250px;
    bottom: -400px;
  }
  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .row {
      --bs-gutter-x: 35px;
    }
    .content {
      width: unset;
      float: unset;
    }
    ul {
      text-align: justify;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .img {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      img {
        max-width: 500px;
      }
    }
    h2 {
      text-align: center;
    }
    .grid {
      top: 50% !important;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    li {
      img {
        width: 30px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    li {
      img {
        width: 20px;
      }
    }
    .grid {
      top: 60% !important;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 430.98px) {
    .grid {
      top: 45% !important;
      transform: translateY(-50%);
    }
  }
}

// solution
#solution {
  background: #fff;
  border-top-right-radius: 250px 250px;
  border-top-left-radius: 250px 250px;
  transform: translateY(-240px);
  margin-bottom: -240px;
  .row {
    --bs-gutter-x: 70px;
  }
  ul {
    padding-left: 15px;
  }
  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    border-top-right-radius: 300px 200px;
    border-top-left-radius: 300px 200px;
    h2 {
      margin-bottom: 10px;
    }
    .row {
      --bs-gutter-x: 35px;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    border-top-right-radius: 200px 150px;
    border-top-left-radius: 200px 150px;
    img {
      max-width: 400px;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    border-top-right-radius: 20% 8%;
    border-top-left-radius: 20% 8%;
    h2 {
      text-wrap: nowrap;
    }
    p,
    ul {
      text-align: justify;
    }
    .tagTitle {
      text-align: center;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    h2 {
      text-wrap: unset;
      margin-bottom: 0;
    }
  }

  @media (max-width: 430.98px) {
  }
}

// definition
#definition {
  background-color: $grayColor;
  .row {
    --bs-gutter-x: 100px;
  }
  .tbPadding {
    padding-top: 178px;
  }
  .tagImg {
    transform: translate(-50%, -32px);
  }
  .ball {
    top: -180px;
    left: -260px;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    li {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  p {
    padding-right: 5%;
  }
  .gridBg {
    top: -67px;
    right: 160px;
    transform: translate(-50%);
  }
  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    text-align: justify;
    .row {
      --bs-gutter-x: 35px;
    }
    p {
      padding-right: 0;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .gridBg {
      right: -26%;
    }
    .tbPadding {
      padding-top: 150px;
    }
    h2 {
      text-wrap: nowrap;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    h2 {
      text-wrap: unset;
      text-align: center;
    }
    .tbPadding {
      padding-top: 120px;
    }
    .gridBg {
      display: none;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .tagImg {
      z-index: 10;
      transform: translate(-50%, -28px);
      img {
        width: 500px;
      }
    }
    ul {
      li {
        img {
          width: 20px;
        }
      }
    }
  }

  @media (max-width: 460.98px) {
    .tagImg {
      img {
        width: 350px;
      }
    }
    .tbPadding {
      padding-top: 80px;
    }
  }
}

// benefits
#benefits {
  background-color: $blackColor2;
  .row {
    --bs-gutter-x: 70px;
  }
  ul {
    padding-left: 17px;
  }

  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .row {
      --bs-gutter-x: 35px;
    }
    ul {
      text-align: justify;
    }
    p {
      text-align: justify;
      &.tagTitle {
        text-align: center;
      }
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
  }
}

// funtions
#functions {
  background-color: $grayColor;
  .ball {
    transform: translate(-50%, -120px);
  }

  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    h2 {
      position: relative;
      z-index: 10;
    }
    .list-description {
      text-align: justify;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    h2 {
      margin-bottom: 30px;
    }
    .title {
      img {
        width: 20px;
      }
    }
    .list-description {
      .content {
        padding-left: 28px;
      }
    }
  }

  @media (max-width: 430.98px) {
    h2 {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

// video
#videoIntro {
  background-color: $grayColor;
  padding-bottom: 320px;

  .videoFrame {
    border: 10px solid #14313f;
    border-radius: 16px;
    overflow: hidden;
    video {
      width: 970px;
    }
  }

  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .videoFrame {
      video {
        width: 780px;
      }
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .videoFrame {
      video {
        width: 560px;
      }
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .videoFrame {
      video {
        width: 75vw;
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
  }
}

// differents
#differents {
  background: #fff;
  border-top-right-radius: 250px 250px;
  border-top-left-radius: 250px 250px;
  transform: translateY(-200px);
  margin-bottom: -200px;

  .list-description {
    .title {
      align-items: center;
    }
    &:nth-child(2) {
      .content {
        padding-left: 53px;
      }
    }
  }

  .scrollDown {
    transform: translate(-50%);
  }
  .polygon {
    transform: translate(-50%);
  }

  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    border-top-right-radius: 300px 200px;
    border-top-left-radius: 300px 200px;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    border-top-right-radius: 200px 150px;
    border-top-left-radius: 200px 150px;
    .list-description {
      text-align: justify;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    border-top-right-radius: 20% 8%;
    border-top-left-radius: 20% 8%;
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    h2 {
      margin-bottom: 30px;
    }
    .list-description {
      .content {
        padding-left: 28px;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 50px;
      }
    }
    .title {
      img {
        width: 20px;
      }
    }
  }

  @media (max-width: 430.98px) {
  }
}

// carouselBanner
#carouselBanner {
  background-color: $grayColor;
  .tbPadding {
    padding-top: 150px;
  }
  .carousel {
    z-index: 10;
  }
  .carousel img {
    opacity: 0.5;
  }
  .slick-center img {
    opacity: 1;
  }
  .ball {
    bottom: 120px;
    right: 300px;
  }

  // responsive
  @media (max-width: 1399.98px) {
    .carousel {
      img {
        width: 90%;
      }
    }
    .contactButton {
      position: inherit;
      z-index: 10;
    }
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .tbPadding {
      padding-top: 100px;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
  }
}

// feedbacks
#feedbacks {
  background-image: url("/asset/img/feedbackBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .feedbackCarousel {
    margin-left: -30px;
    margin-right: -30px;
    z-index: 10;
    .item {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .avatar {
      img {
        width: 150px;
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
    h2 {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

// contactForm
#contactForm {
  ul {
    list-style: none;
    li {
      // padding-left: /px;
      display: flex;
      gap: 9px;
      a {
        &:hover {
          color: $yellowColor;
        }
      }
    }
  }
  .sendIcon {
    right: -57px;
    top: 87px;
  }
  .rightSideForm {
    width: 570px;
  }
  .sendContact {
    width: 200px;
    text-align: center;
  }
  // X-Large devices (large desktops, less than 1400px)
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .d-flex {
      gap: 50px;
    }
    .leftSideText {
      text-wrap: nowrap;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .mb-130 {
      margin-bottom: 0;
    }
    .d-flex {
      gap: 0px;
    }
    .rightSideForm {
      width: 700px;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .rightSideForm {
      width: 100%;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }
  @media (max-width: 430.98px) {
    ul {
      li {
        align-items: baseline;
        margin-bottom: 5px;
      }
    }
  }
}

// sticky
#contactFormSticky {
  width: max-content;
  left: unset;
  right: 25px;
  bottom: 25px;
  text-align: center;

  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .hotline {
      display: none;
    }
    width: 50%;
    right: 0px;
    bottom: 0px;
    border-radius: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
    padding-right: 7px;
    padding-left: 7px;
  }
}
#stickyPhone {
  left: 0px;
  bottom: 0px;
  width: max-content;
  text-align: center;
  border-radius: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  // responsive
  @media (max-width: 1399.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .hotline {
      display: none;
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }

  @media (max-width: 430.98px) {
    padding-right: 7px;
    padding-left: 7px;
  }
}

// Responsive
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .content-container {
    max-width: 1100px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .content-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .tbPadding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  h2.mb-50,
  h3.mb-50 {
    margin-bottom: 30px;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

@media (max-width: 430.98px) {
  h2 {
    font-size: 30px;
  }
}

// @keyframes slideInDown {
//   0% {
//     transform: translate3d(0, -43%, 0);
//     visibility: visible;
//   }
//   100% {
//     transform: translateZ(0);
//   }
// }
